[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mamba = "*"
sc2 = "*"
python-socketio = "*"
expects = "*"
doubles = "*"

[requires]
python_version = "3.7"
